* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f8fa;
}

.container {
  max-width: 800px;
  margin: auto;
  height: auto;
  overflow: auto;
}

.row {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  text-align: center;
}

.column-full {
  /* width: 100%;
  margin: auto; */

  /* text-align: center; */
}

.text {
  font-family: Barlow, sans-serif;
}

/* img {

} */

.icon {
  width: 3%;
}

.column-quarter {
  flex-basis: 25%;
}
