* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 150px;
  justify-content: center;
}

.row {
  display: flex;
}

.menu {
  margin: 50px 0 0;
  width: 100%;
  font-family: Avenir, sans-serif;
}

.header > img {
  margin: 10px 500px 10px 0;
}

.nav {
  float: right;
}

a {
  margin: 10px 20px;
}

.hero > img {
  filter: brightness(60%);
  margin-top: 50px;
}

.text-block {
  position: absolute;
  margin: auto;
  left: 0;
  right: 500px;
  top: 500px;
  width: 20%;
  color: white;
  justify-content: flex-start;
}
